<div class="form-group">
    
    <label for="Name">Lens Name</label>
    <input required value="<%= lens.Name%>" type="text" name="Name" id="Name" class="form-control ">
   
    <label for="Brand">Brand</label>
    <input required type="text" name="Brand" id="Brand" class="form-control">
    
    <label for="BuildDate">BuildDate</label>
    <input required type="text" name="BuildDate" id="BuildDate" class="form-control">
    
    <label for="Description">Description</label>
    <input required type="text" name="Description" id="Description" class="form-control">

    </div>

    <button type="submit" class="btn btn-primary">ADD</button>
    <a href="/" class="btn btn-secondary">Cancel</a>
