<div class="form-group">
    
    <label for="Name">Lens Name</label>
    <input required type="text" name="Name" id="Name" class="form-control ">
   
    <label for="Name">Brand</label>
    <input required type="text" name="Brand" id="Brand" class="form-control">
    
    <label for="Name">BuildDate</label>
    <input required type="text" name="BuildDate" id="BuildDate" class="form-control">
    
    <label for="Name">Description</label>
    <input required type="text" name="Description" id="Description" class="form-control">

</div>